* {
    direction: ltr !important
}

.main-header {
    margin-left: 250px !important;
    margin-right: 0px !important;
}

.content-wrapper {
    margin-left: 250px !important;
    margin-right: 0 !important;
}

.main-sidebar {
    left: 0 !important;
}

.input-group-text i {
    margin-right: auto !important; 
    font-size: 20px !important; 
    margin-top: 0 !important;
    padding: 0 !important
}